h1{
    color: rgb(25, 187, 55);
    text-align:center ;
}

.puntajes{
    display: flex;
    justify-content: space-around;
}

.manos{
    display: flex;
    justify-content: space-around;   
};

.mano{
    width: 40px;
}


